<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gupao.edu.seckill.dal.persistence.SecKillActivityMapper">

  <resultMap id="BaseResultMap" type="com.gupao.edu.seckill.vo.SecKillActivity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="seckill_name" jdbcType="VARCHAR" property="seckillName" />
    <result column="seckill_goods_name" jdbcType="VARCHAR" property="seckillGoodsName" />
    <result column="seckill_goods_num" jdbcType="INTEGER" property="seckillGoodsNum" />
    <result column="seckill_start_time" jdbcType="TIMESTAMP" property="seckillStartTime" />
    <result column="seckill_end_time" jdbcType="TIMESTAMP" property="seckillEndTime" />
  </resultMap>


</mapper>